.wrapper {
	width: 100%;
	height: auto;
	padding: 3rem 2rem;
	text-align: center;
	border-bottom: 6px solid var(--intro-border);
}

.subtitle {
	padding-bottom: 1.5rem;
}

.input {
	margin-bottom: 1.5rem;
}

.error {
	color: red;
}
